$orange: #f56b0c;
$dark-gray: #222222;

body {
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
  font-weight: 600;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

.section {
  padding: 70px 20px !important;
}

.v-select__slot label {
  left: 8px !important;
}

.v-card {
  max-width: 600px !important;
}

main {
  position: relative;
}

.page {
  margin-bottom: 105px;
}

.gap-10 {
  gap: 10px;
}

.w-100 {
  width: 100%;
}

.layout,
.v-container {
  margin: auto;
  max-width: 1000px;
}

.hint {
  opacity: 0.7;
  font-size: 0.8em;
  font-style: italic;
}

form {
  .v-messages__message {
    font-size: 12px;
  }
}

.primary-btn {
  background-color: $orange;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  height: 40px;

  &:hover {
    background-color: $dark-gray;
  }
}

.secondary-btn {
  background-color: white;
  color: $orange;
  border: solid 2px $orange;
  font-weight: bold;
  border-radius: 8px;
  height: 40px;
}

.v-overlay .v-card {
  padding: 20px;
  border-radius: 24px !important;
}
